name: CI-Frontend

on:
  push:
    branches: [ main ]
    paths:
      - 'src/frontend/**'
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 14.15.4
          
      - name: npm ci
        working-directory: src/frontend
        run: npm ci   
          
      - name: npm run test
        working-directory: src/frontend
        run: npm run test
          
      - name: npm run build
        working-directory: src/frontend
        run: npm run build
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: Azure/login@v1
        with:
          credentials: ${{ secrets.AZURE_CREDENTIALS }}
