name: CI-Posts

on:
  push:
    branches: 
      - main
    paths:
      - 'src/backend/Posts/**'
  pull_request:
    branches: 
      - main
    paths: 
      - 'src/backend/Posts/**'
  workflow_dispatch:

jobs:
  build:
    defaults:
      run:
        working-directory: src/backend/Posts
    name: Build
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Setup .NET environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - 
        name: dotnet build
        run: dotnet build
      - 
        name: dotnet test
        run: dotnet test
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        if: success()
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        if: success()
      - 
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        if: success()
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        if: success()
        with:
          context: ./src/backend/Posts
          file: ./src/backend/Posts/Dockerfile
          push: true
          tags: |
            ghcr.io/fredagsdak/hvemer1337.dk:latest
